*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    position: relative;
}

header > label{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: white;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5% 5%;
    /* background-color: rgb(23, 59, 220); */
}


.nav-item{
    display: flex;
    gap: 50px;
    font-size: 20px;
}

.nav-link > a{
    color: white;
    font-weight: bold;
}

form{
    position: absolute;
    right: 4%;
    top: 50%;
    display: flex;
    gap: 5px;
    transform: translate(0%, -50%);
}

form > button{
    padding:3px;
    border-radius: 4px;
}

form > input{
    height: 1.4rem;
}



main{
    padding: 20px 50px;
}

table{
    margin: 10px 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 30px 30px 0 0;

}
.scroll {
    overflow: auto;
}

main > a{
    padding: 6px 2%;
    background-color: rgba(19, 10, 192, 0.694);
    border-radius: 12px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}


th{
    background-color: rgba(19, 10, 192, 0.694);
    padding: 10px;
    color: white;
}

td{
    padding: 10px;
}

tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.251);
}
tbody > tr:hover{
    background-color: rgba(128, 128, 128, 0.524);
    cursor: pointer;
}

